.container .categories-container {
  height: 90%;
  width: 70%;
}

.container .categories-container .categories {
  display: flex;
  justify-content: center;
}
.container .categories select {
  font-size: 1em;
  width: 200px;
  padding: 0.5em;
  border-radius: 7px;
  margin-right: 0.5em;
}

.container .categories select:focus {
  outline: 0;
}
