.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(99vh - 50px);
}

.container .quote {
  font-size: 2em;
  margin-bottom: 1em;
  padding: 0.5em;
  width: 60%;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
}

.container button {
  font-size: 1em;
}

.container .categories-container {
  height: 90%;
  width: 70%;
}

.container .categories-container .categories {
  display: flex;
  justify-content: center;
}
.container .categories select {
  font-size: 1em;
  width: 200px;
  padding: 0.5em;
  border-radius: 7px;
  margin-right: 0.5em;
}

.container .categories-container .joke-container {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
