.text-container {
  padding: 0 0.5rem;
}

.icon-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
  row-gap: 0.25rem;
}

.icon-button {
  font-size: 1em;
  color: #55acee;
  border: 3px solid #55acee;
  border-radius: 0.5rem;
  text-decoration: none;
  width: auto;
  height: auto;
  text-align: center;
  line-height: 0px;
  padding: 0.25rem;
}

.twitter-share-button {
  transition: all 0.5s ease;
  color: #55acee;
  border: 3px solid #55acee;
}

.twitter-share-button:hover {
  background-color: #55acee;
  color: white;
}

.like-button {
  transition: all 0.5s ease;
  font-size: 0.9em;
  color: #ee5555;
  border: 3px solid #ee5555;
}

.like-button:hover {
  background-color: #ee5555;
  color: white;
}

.like-button.active {
  transition: all 0.5s ease;
  background-color: #ee5555;
  color: white;
  border: 3px solid #ee5555;
}

.like-button.active:hover {
  background-color: white;
  color: black;
  border: 3px solid black;
}
