body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100%;
}

#root {
  height: inherit;
  width: 100%;
}

button {
  padding: 0.5em;
  border-radius: 7px;
  background-color: white;
}

*:focus {
  outline: 0;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

button:focus {
  border: 2px solid black;
}
