@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;800&display=swap");

.navbar {
  position: relative;
  height: 50px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-bottom: 1px solid black;
  box-shadow: 0px 1px 5px black;
}

.navbar .menu-items {
  display: flex;
  justify-content: center;
  position: relative;
  flex-grow: 1;
  height: 100%;
}

.navbar .menu-items > button {
  margin: 0 0.25em;
  transition: all 0.2s linear;
  font-size: 1em;
  cursor: pointer;
  padding: 0 1em;
  border: 0;
  height: 100%;
  box-shadow: none;
  border-radius: 0;
}

.navbar .menu-items > button:focus {
  box-shadow: 2px 0px 3px #000000;
}

.navbar .menu-items > button:hover {
  color: #3ca0e7;
}

.navbar .menu-items > button.active {
  border-bottom: 4px solid #3ca0e7;
  color: #3ca0e7;
  cursor: default;
}

.navbar .logo {
  position: relative;
  display: inline;
  flex-grow: 2;
}
.navbar .logo .logo-text {
  position: relative;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif;
}
