.navbar {
  height: 50px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
  box-shadow: 0px 1px 5px black;
}

.navbar .menu-items {
  display: inline;
}

.navbar .menu-items button {
  font-size: 1em;
  margin-right: 0.5em;
  cursor: pointer;
}

.navbar .menu-items button.active {
  background-color: aqua;
  cursor: default;
}
