.search-container {
  position: relative;
  width: 70%;
  height: 90%;
}

.search-bar input {
  font-family: inherit;
  padding: 0.5em;
  font-size: inherit;
  border: 0;
  border-bottom: 1px solid black;
  width: 200px;
  margin-bottom: 1em;
}
.search-bar input:focus {
  outline: 0;
  border-bottom: 2px solid black;
}

/* .search-quotes .quote {
  font-size: 1em;
  width: 100%;
  box-shadow: 2px 1px 3px black;
} */

.search-container > .joke-container {
  align-items: start;
  justify-content: normal;
}

.joke-container .quote {
  font-size: 1em;
}

.joke-container .quote > a {
  font-size: 1em;
}
